body {
  margin: 0;
  
  font-family: 'Lato', sans-serif;
  --main-color: #F25F5C;
  --second-color: #50514F;
  --second-darker-color: rgb(62, 63, 61);
  --action-color: #5951f0;
}
p {
  font-family: 'Lato', sans-serif;
}
header {
  background-color: var(--main-color);
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#log-in > form {
  display: flex;
  align-items: center;
  
}



#log-in form div {
  margin-left: 10px;
}

.log input {
  padding: 5px;
  border: none;
}

.enter {
  margin-right: 10px;
}

.Gray {
  background-color: var(--second-color);
  color: white;
}

.enter input {
  border: none;
  padding: 5px;
  

}

.White {
  background-color: white;
}

.enter input:hover {
  cursor: pointer;
  filter: brightness(80%);
}


header > span {
  display: inline-block;
  padding: 10px;
  font-family: 'Comic Sans MS';
  color: white;
  font-size: 30px;
}

@media (max-width: 600px) {
  header > span {
    font-size: 50px;
  }
}

main {
  
  padding: 0;
  margin: 0 auto;
}

nav {
  background-color: var(--second-color);
  margin: 0;
  position: -webkit-sticky;
  display: sticky;
}

nav > ul {
  display: flex;
  padding: 0;
  margin: 0 0 0 5%;
}

nav > ul > a > li {
  list-style-type: none;
  padding:  10px 20px 10px 20px;
}


nav > ul > a {
  text-decoration: none;
  color: white;
}

nav > ul > a:hover {
  background-color: var(--second-darker-color);
}




#grid {
  margin: auto;
  width: 70%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  align-items: stretch;
  justify-items: stretch;
}



.recipe-in {
  opacity: 0;
  
}

.recipe-visible {
  opacity: 1;
  
}

.recipe-out {
  
  opacity: 0;
  
}

.recipe {
  
  border: 4px solid var(--second-color);
  border-radius: 6px;
  position: relative;
  transition: opacity 0.2s ease-in-out;
  min-height: 400px;
}

.recipe img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.img-cover {
  
}

.rec-text {
  padding: 15px;
  
}

.recipe:hover {
  background-color: var(--main-color);
  transition: background-color 0.2s;
  transition: opacity 0.2s ease-in-out; 
}


.banner {
  text-align: center;
  margin: 60px 0;
}

.recipe:hover div {
  cursor: pointer;
}

.recipe:hover img {
  filter: brightness(80%);
  transition: filter 0.2s;
  cursor: pointer;
}

.popup {
  display: none;
}

footer {
  background-color: var(--main-color);
  padding: 40px;
  color: white;
  margin: 0 auto;
}

footer > p {
  text-align: center;
}

section {
  display: flex;
  justify-content: center;
  margin: 60px;
}

section * {
  font-size: 16px;
}

@media (max-width: 1200px) {
  #grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  #grid {
    grid-template-columns: 1fr;
  }
  header {
    flex-direction: column;
  }
  #log-in > form {
    margin-bottom: 20px;
    flex-direction: column;
  }

  #log-in > form div {
    margin: 10px 0;

  }

  #log-in > form div * {
        font-size: 20px;
  }

  section input, label {
    font-size: 20px;
  }
  nav > ul {
    flex-direction: column;
    margin: 0;
  }
  
  nav > ul > a {
    padding: 20px 0;
    font-size: 20px;
  }

  footer * {
    font-size: 20px;
  }
}

.delete {
  display: none;
  
}



.recipe:hover .delete {
  display: flex;
  position: absolute;
  left: -1em;
  top: -1em;
  z-index: 10;
  justify-content: center;
  align-items: center;
  background-color: var(--action-color);
  font-size: 18px;
  font-weight: 900;
  color: white;
  border-radius: 1em;
  width: 2em;
  height: 2em;
  padding: 0;
  text-align: center;
}


.recipe:hover .delete > p {
  padding: 0px;
  margin: 0px;
  
}

.form {
  margin: 0px;
  background-color: white;
  padding: 20px;
  border: 4px solid var(--second-color);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  width: 400px;
  position: fixed;
  transition: right 0.4s;
}

.form-h {
  right: -100%;
  top: 50%;
}

.form-v {
  right: 50px;
  top: 50%;
}

.new {
  
}

.form > form {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.form > form > label {
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.form button {
  justify-self: self-end;
  width: 50%;
}

.Action {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  
  font-size: 18px;
  font-weight: 900;
  color: white;
  border-radius: 1em;
  width: 2em;
  height: 2em;
  padding: 0;
  text-align: center;
  position: fixed;
  right: 0px;
  top: 50%;
  transition: right 0.2s, transform 0.2s;
  
  
}
.red {
  background-color: var(--main-color);
}

.blue {
  background-color: var(--action-color);
  transform: rotate(180deg);
  
}

.hidden {
  display: none;
}

.info {
  position: fixed;
  background-color: white;
  margin: auto;
  z-index: 20;
  width: 90%;
  
  left: 5%;
  top: 5%;
  padding: 20px;
  border: 4px solid var(--second-color);
  border-radius: 6px;
}

.imgdesc {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  padding: 0px 40px;
}

.descript {
  
  
}

.steps {
  width: 800px;
  padding: 40px;
}

.info > * {
  text-align: justify;
  text-justify: inter-word;
}

.imgshow img {
  
  height: 250px;
  width: 500px;
  object-fit: cover;
}

.Action:hover {
  cursor: pointer;
  
  right: 5px;
}